<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bprj.stepapp">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:label="Run Fast"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:roundIcon="@mipmap/app_round_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tab_activity"></activity>
        <activity android:name=".login_activity"></activity>
        <activity android:name=".setting_activity"></activity>
        <activity android:name=".register_activity"></activity>

    </application>

</manifest>